flask == 2.0.1
flask-bootstrap == 3.3.7.1
flask-wtf == 0.15.1
flask-testing == 0.8.1
flask-sqlalchemy == 2.5.1
flask-login == 0.5.0
flask-FontAwesome == 0.1.5
marshmallow-sqlalchemy == 0.26.1
email-validator == 1.1.3
